#calc-wrapper {
    background: #a7d796;
    font-size: 20px;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

#calcer {
    background: #f2f2f2;
    max-width: 392px;
    min-height: 450px;
    margin: 20px auto;
    border: 0.7pt solid black;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 25px 5px rgba(23, 16, 25, 0.2);
    border-bottom: 4px solid #c6c5c6;
    position: absolute;
    display: block;
    z-index: 99999;
    min-width: 300px;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.calc-input {
    border: none;
    outline: none;
}

#closer {
    cursor: pointer;
}

#expr {
    position: absolute;
    top: 20px;
    right: 2px;
    height: 25px;
    font-size: 20px;
}

#result {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

#screen {
    width: 100%;
    text-align: right;
    color: #000000;
    background: #F2F2F2;
    height: 130px;
    font-size: 52px;
    position: relative;
    box-shadow: 0 14px 19px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 999;

}

.main {
    z-index: 998;
}

.button {
    width: 65px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 0 16px 0 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding: 0;
}

.button:focus {
    outline: none;
    background: #1c1c1c;
    color: #fff;
}

.button:hover {
    border: 1px solid #ccc;
}

.active {
}

.small {
    width: 45px;
    font-size: 16px;
}

.sup {
    position: relative;
    bottom: 1ex;
    font-size: 75%;
}

.sub {
    position: relative;
    top: -1ex;
    font-size: 75%;
}

.button:last-child {
    margin-right: 0;
}

.zero, .percentage {
    width: 146px;
}

.equal {
    height: 83px;
    margin-top: -48px;
}

.calc-row {
    margin: 0;
}

.calc-button {
    padding: 0;
    text-align: center;
    background: #434343;
    color: #fff;
    margin: 0;
}

.calc-button:hover {
    background: #8C8C8C;
}

.science {
    background: #1DE9B6;
    color: #0E775C;
}

.science:hover {
    background: #A5F649;
}

.operation {
    background: #636363;
}

.row:last-child {
    margin-bottom: 0;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}