.modal-static {
    position    : fixed;
    top         : 50% !important;
    left        : 50% !important;
    margin-top  : -100px;
    margin-left : -100px;
    overflow    : visible !important;
}

.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width  : 200px;
    height : 200px;
}

.modal-static .modal-dialog,
.modal-static .modal-content {
    padding : 0 !important;
    margin  : 0 !important;
}

.form-control {
    -webkit-transition : all 0.7s ease;
    -moz-transition    : all 0.7s ease;
    -o-transition      : all 0.7s ease;
    -ms-transition     : all 0.7s ease;
    transition         : all 0.7s ease;
}

.has-success .form-control,
.has-success .checkbox,
.has-success .radio,
.has-success .droppable {
    border-color       : #3c763d;
    background         : rgb(219, 255, 219);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(103, 188, 104, 0.77);
	-moz-box-shadow:    0px 0px 14px 0px rgba(103, 188, 104, 0.77);
	box-shadow:         0px 0px 14px 0px rgba(103, 188, 104, 0.77);
}

.has-error .form-control,
.has-error .checkbox,
.has-error .radio,
.has-error .droppable {
    border-color       : #a94442;
    background         : rgb(255, 234, 234);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(206, 132, 131, 0.77);
	-moz-box-shadow:    0px 0px 14px 0px rgba(206, 132, 131, 0.77);
	box-shadow:         0px 0px 14px 0px rgba(206, 132, 131, 0.77);
}

body {
    background-image : url("/javascripts/jtrainer/current/img/trainer/trainer-background.png");
}

.navbar-brand {
    color          : #efc84a !important;
    padding-top    : 0;
    padding-bottom : 0;
}

.navbar-brand .trainer-brand {
    background     : url("/javascripts/jtrainer/current/img/trainer/trainer-brand.png") no-repeat;
    display        : inline-block;
    vertical-align : middle;
    width          : 191px;
    height         : 50px;
    margin         : 0 10px 0 0;
}

.navbar-brand:hover {
    color : #d14f3a !important;
}

section.stepspace {
    margin : 0 20px;
}

div.step {
    display : none;
    z-index : 0;
}

div.step.current {
    display : block;
    z-index : 1;
}

div.rotators a.btn {
    margin-bottom: 20px;
}

div.latex {
    display : inline-block;
    padding : 3px;
}

/* DROPABLE */
div.droppable, div.draggable {
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

div.droppable {
    display            : block;
    padding            : 4.4px 4px;
    margin             : 5px 0;
    line-height        : 1.428571429;
    background-color   : #ffffff;
    border             : 1px solid #cccccc;
    border-radius      : 4px;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.droppable.input {
    min-width      : 200px;
    min-height     : 40px;
    vertical-align : middle;
}

div.droppable div.draggable {
    cursor : not-allowed;
}

div.draggable {
    cursor           : move;
}
div.draggable.value {
    display          : inline-block;
    min-height       : 30px;
    line-height      : 21px;
    margin           : 0 5px 1px 0;
    padding          : 3px 12px;
    font-size        : 14px;
    border-radius    : 4px;
    color            : #ffffff;
    background-color : #428bca;
    border           : 1px solid #357ebd;
}

div.draggable.value:hover {
    background-color : #3276b1;
    border-color     : #285e8e;
}
select.form-control {
	display: inline-block !important;
}
input.form-control{
	display		: inline-block;
	text-align	:center;
}
div.form-group{
	margin-bottom	:0px;
	display			:inline-block;
}
input[type=radio]:not(#calc-input), input[type=checkbox]:not(#calc-input) {
	min-width: 30px !important;
	max-height: 30px !important;
	margin-right: 10px;
}

span.radio-text {
	margin-left: 10px;
}
div.radio {
	border: 1px solid #cccccc;
}
input[type=radio], input[type=checkbox]{
	float: none !important;
}
img[name=langs] {
	cursor: pointer;
}
